# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Environment Variables
.env

# Large Data (optional, commonly ignored)
*.h5
*.pth
data/
images*/
models*/
